Import libraries

In [3]:
import pandas as pd

Read the CSV

In [4]:
df = pd.read_csv('covid_19_data.csv')
df.sample(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
626,627,02/02/2020,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0
2334,2335,02/25/2020,From Diamond Princess,Australia,2020-02-22T17:03:05,7.0,0.0,0.0
893,894,02/06/2020,NaN,Cambodia,2020-01-31T08:15:53,1.0,0.0,0.0
647,648,02/03/2020,Shanxi,Mainland China,2020-02-03T23:13:11,74.0,0.0,2.0
469,470,01/31/2020,NaN,Malaysia,1/31/2020 23:59,8.0,0.0,0.0
1580,1581,02/16/2020,Hebei,Mainland China,2020-02-16T12:03:06,300.0,3.0,105.0
1276,1277,02/12/2020,Chongqing,Mainland China,2020-02-12T23:13:08,518.0,3.0,102.0
103,104,01/24/2020,Heilongjiang,Mainland China,1/24/20 17:00,4.0,1.0,0.0
969,970,02/07/2020,NaN,Nepal,2020-01-31T08:15:53,1.0,0.0,0.0
1292,1293,02/12/2020,Tianjin,Mainland China,2020-02-12T15:03:05,112.0,2.0,11.0

Convert to datetime value

In [5]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])

Looking for useful columns

In [6]:
list(df)

['SNo',
 'ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered']

In [7]:
df = df[['ObservationDate',
 'Country/Region',
 'Confirmed',
 'Deaths',
 'Recovered']]
df

     ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0         2020-01-22  Mainland China        1.0     0.0        0.0
1         2020-01-22  Mainland China       14.0     0.0        0.0
2         2020-01-22  Mainland China        6.0     0.0        0.0
3         2020-01-22  Mainland China        1.0     0.0        0.0
4         2020-01-22  Mainland China        0.0     0.0        0.0
...              ...             ...        ...     ...        ...
3390      2020-03-04         Ukraine        1.0     0.0        0.0
3391      2020-03-04       Australia        0.0     0.0        0.0
3392      2020-03-04              US        0.0     0.0        0.0
3393      2020-03-04              US        0.0     0.0        0.0
3394      2020-03-04              US        0.0     0.0        0.0

[3395 rows x 5 columns]

Group by Date and adding by day

In [8]:
df_time = df.groupby('ObservationDate').sum()
df_time.head()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23           653.0    18.0       30.0
2020-01-24           941.0    26.0       36.0
2020-01-25          1438.0    42.0       39.0
2020-01-26          2118.0    56.0       52.0

Operations with datetimes

In [9]:
df1 = df_time['Confirmed'].iloc[10:15]
df1

ObservationDate
2020-02-01    12038.0
2020-02-02    16787.0
2020-02-03    19881.0
2020-02-04    23892.0
2020-02-05    27636.0
Name: Confirmed, dtype: float64

In [10]:
df2 = df_time['Deaths'].iloc[12:17]
df2

ObservationDate
2020-02-03    426.0
2020-02-04    492.0
2020-02-05    564.0
2020-02-06    634.0
2020-02-07    719.0
Name: Deaths, dtype: float64

In [11]:
df1 - df2

ObservationDate
2020-02-01        NaN
2020-02-02        NaN
2020-02-03    19455.0
2020-02-04    23400.0
2020-02-05    27072.0
2020-02-06        NaN
2020-02-07        NaN
dtype: float64

Averages per day

In [12]:
df_time.diff().mean()

Confirmed    2251.642857
Deaths         77.071429
Recovered    1217.690476
dtype: float64

Deaths per day

In [14]:
df_diff = df_time.diff()

In [16]:
df_time.head(1).to_dict()
df_diff = df_diff.fillna({'Confirmed': 555.0,
 'Deaths': 17.0,
 'Recovered': 28.0})

In [17]:
df_diff

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23            98.0     1.0        2.0
2020-01-24           288.0     8.0        6.0
2020-01-25           497.0    16.0        3.0
2020-01-26           680.0    14.0       13.0
2020-01-27           809.0    26.0        9.0
2020-01-28          2651.0    49.0       46.0
2020-01-29           587.0     2.0       19.0
2020-01-30          2070.0    38.0       17.0
2020-01-31          1690.0    42.0       79.0
2020-02-01          2113.0    46.0       62.0
2020-02-02          4749.0   103.0      188.0
2020-02-03          3094.0    64.0      151.0
2020-02-04          4011.0    66.0      229.0
2020-02-05          3744.0    72.0      272.0
2020-02-06          3182.0    70.0      363.0
2020-02-07          3574.0    85.0      524.0
2020-02-08          2729.0    87.0      605.0
2020-02-09          3030.0   100.0      628.0
2020-02-10          2612.0   107.0      702.0
2020-02-11          2040.0   100.0      737.0
2020-02-12           419.0     5.0      467.0
2020-02-13         15148.0   253.0     1145.0
2020-02-14          6517.0   152.0     1763.0
2020-02-15          2145.0   143.0     1337.0
2020-02-16          2194.0   104.0     1470.0
2020-02-17          2034.0    98.0     1718.0
2020-02-18          1878.0   139.0     1769.0
2020-02-19           503.0   115.0     1769.0
2020-02-20           558.0   125.0     2056.0
2020-02-21           644.0     4.0      713.0
2020-02-22          1756.0   207.0     3996.0
2020-02-23           386.0    11.0      508.0
2020-02-24           585.0   160.0     1833.0
2020-02-25           845.0    79.0     2678.0
2020-02-26           982.0    62.0     2479.0
2020-02-27          1359.0    44.0     2893.0
2020-02-28          1368.0    58.0     3434.0
2020-02-29          1889.0    69.0     3071.0
2020-03-01          2358.0    55.0     2934.0
2020-03-02          1938.0    89.0     2886.0
2020-03-03          2535.0    75.0     2627.0
2020-03-04          2280.0    94.0     2942.0

In [18]:
df_diff.cumsum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-22           555.0    17.0       28.0
2020-01-23           653.0    18.0       30.0
2020-01-24           941.0    26.0       36.0
2020-01-25          1438.0    42.0       39.0
2020-01-26          2118.0    56.0       52.0
2020-01-27          2927.0    82.0       61.0
2020-01-28          5578.0   131.0      107.0
2020-01-29          6165.0   133.0      126.0
2020-01-30          8235.0   171.0      143.0
2020-01-31          9925.0   213.0      222.0
2020-02-01         12038.0   259.0      284.0
2020-02-02         16787.0   362.0      472.0
2020-02-03         19881.0   426.0      623.0
2020-02-04         23892.0   492.0      852.0
2020-02-05         27636.0   564.0     1124.0
2020-02-06         30818.0   634.0     1487.0
2020-02-07         34392.0   719.0     2011.0
2020-02-08         37121.0   806.0     2616.0
2020-02-09         40151.0   906.0     3244.0
2020-02-10         42763.0  1013.0     3946.0
2020-02-11         44803.0  1113.0     4683.0
2020-02-12         45222.0  1118.0     5150.0
2020-02-13         60370.0  1371.0     6295.0
2020-02-14         66887.0  1523.0     8058.0
2020-02-15         69032.0  1666.0     9395.0
2020-02-16         71226.0  1770.0    10865.0
2020-02-17         73260.0  1868.0    12583.0
2020-02-18         75138.0  2007.0    14352.0
2020-02-19         75641.0  2122.0    16121.0
2020-02-20         76199.0  2247.0    18177.0
2020-02-21         76843.0  2251.0    18890.0
2020-02-22         78599.0  2458.0    22886.0
2020-02-23         78985.0  2469.0    23394.0
2020-02-24         79570.0  2629.0    25227.0
2020-02-25         80415.0  2708.0    27905.0
2020-02-26         81397.0  2770.0    30384.0
2020-02-27         82756.0  2814.0    33277.0
2020-02-28         84124.0  2872.0    36711.0
2020-02-29         86013.0  2941.0    39782.0
2020-03-01         88371.0  2996.0    42716.0
2020-03-02         90309.0  3085.0    45602.0
2020-03-03         92844.0  3160.0    48229.0
2020-03-04         95124.0  3254.0    51171.0

Add by months

In [19]:
df_diff.resample('M').sum()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-31          9925.0   213.0      222.0
2020-02-29         76088.0  2728.0    39560.0
2020-03-31          9111.0   313.0    11389.0

In [20]:
df_diff.resample('M').count()

                 Confirmed  Deaths  Recovered
ObservationDate
2020-01-31              10      10         10
2020-02-29              29      29         29
2020-03-31               4       4          4

In [21]:
df_diff.resample('M').mean()

                   Confirmed     Deaths    Recovered
ObservationDate
2020-01-31        992.500000  21.300000    22.200000
2020-02-29       2623.724138  94.068966  1364.137931
2020-03-31       2277.750000  78.250000  2847.250000