# How to connect Python and Pandas with database like SQL

## PostgreSQL

Libraries charge

In [ ]:
import pandas as pd
import psycopg2

Connecting element

In [ ]:
conn_sql = psycopg2.connect(user = "user_name",
                            password = "password",
                            host = "xxx.xxx.xxx.xxx",
                            port = "5432",
                            database = "postgres_db_name")

Define query in SQL

In [ ]:
query_sql = '''
select *
from table_name
limit 10
'''

Create dataframe w/ pandas

In [ ]:
df = pd.read_sql(query_sql, conn_sql)

## SQL Server

Libraries charge

In [ ]:
import pandas as pd
import pyodbc

Connecting element

In [ ]:
driver = '{SQL Server}'
server_name = 'server_name'
db_name = 'database_name'
user = 'user'
password = 'password'
sql_conn = pyodbc.connect('''
DRIVER={};SERVER={};DATABASE={};UID={};PWD={};
Trusted_Connection=yes
'''.format(driver, server_name, db_name, user, password))

if we have the DSN

In [ ]:
dsn = 'odbc_datasource_name'
sql_conn = pyodbc.connect('''
DSN={};UID={};PWD={};Trusted_Connection=yes;
'''.format(dsn, user, password))

Define query in SQL

In [ ]:
query_sql = 'select * from table_name limit 10'

Create dataframe w/ pandas

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

## MySQL/Oracle/Other

Libraries charge

In [ ]:
import pandas as pd
import sqlalchemy as sql

#Choose the database type; Oracle, MySql or other:
database_type = 'mysql'
database_type = 'oracle'

Connecting element

In [ ]:
user = 'user_name'
password = 'password'
host = 'xxx.xxx.xxx.xxx:port'
database = 'database_name'

conn_string = '{}://{}:{}@{}/{}'.format(
database_type, user, password, host, database)

sql_conn = sql.create_engine(conn_string)

Define query in SQL

In [ ]:
query_sql = '''
select *
from table_name
limit 10
'''

Create dataframe w/ pandas

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)