Import libraries

In [1]:
import pandas as pd
import numpy as np

Read the CSV

In [2]:
raw_df_pob = pd.read_csv('population.csv')

### Dataframe info

In [3]:
pd.options.display.float_format = '{:,.1f}'.format

In [4]:
raw_df_pob.head()

          Country  year          pop
0     Afghanistan  2015 34,413,603.0
1         Albania  2015  2,880,703.0
2         Algeria  2015 39,728,025.0
3  American Samoa  2015     55,812.0
4         Andorra  2015     78,011.0

### Manipulating the Dataframe

In [5]:
df_pob = raw_df_pob.copy()
df_pob['year'] = pd.Categorical(df_pob['year'].apply(str))

In [6]:
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

### Multiple Index

Creating a filter

In [7]:
idx_filter = df_pob['Country'].isin(['Colombia', 'Japan'])

Filtering data

In [11]:
df_sample = df_pob[idx_filter]
df_sample.head()

      Country  year           pop
42   Colombia  2015  47,520,667.0
98      Japan  2015 127,141,000.0
302  Colombia  2016  48,171,392.0
358     Japan  2016 126,994,511.0
562  Colombia  2017  48,901,066.0

Setting the multiple index

In [12]:
df_sample = df_sample.set_index(['Country','year']).sort_index()
df_sample.head()

                        pop
Country  year
Colombia 2015  47,520,667.0
         2016  48,171,392.0
         2017  48,901,066.0
         2018  49,648,685.0
Japan    2015 127,141,000.0

### Manipulating index

In [13]:
df_sample.loc['Colombia',:]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [15]:
df_sample.loc['Colombia',:].loc['2016',:]

pop   48,171,392.0
Name: 2016, dtype: float64

In [16]:
df_sample.xs(['Japan'])

<ipython-input-16-b625ee753c3e>:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(['Japan'])

               pop
year
2015 127,141,000.0
2016 126,994,511.0
2017 126,785,797.0
2018 126,529,100.0

In [17]:
df_sample.xs(['Japan','2018'])

<ipython-input-17-faf477f0edd1>:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(['Japan','2018'])

pop   126,529,100.0
Name: (Japan, 2018), dtype: float64

In [18]:
df_sample.xs('2018', level='year')

                   pop
Country
Colombia  49,648,685.0
Japan    126,529,100.0

### Creating a new dataframe w/ filter

In [19]:
df_countries = df_pob.set_index(['Country','year']).sort_index(ascending = [True,True])
df_countries.head()

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0

Sorting by indexes

In [20]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria','2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

Get indexes by level

In [21]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [22]:
df_countries.index.get_level_values(1)

CategoricalIndex(['2015', '2016', '2017', '2018', '2015', '2016', '2017',
                  '2018', '2015', '2016',
                  ...
                  '2017', '2018', '2015', '2016', '2017', '2018', '2015',
                  '2016', '2017', '2018'],
                 categories=['2015', '2016', '2017', '2018'], ordered=False, dtype='category', name='year', length=1040)

Filter with index indications

In [23]:
df_countries['pop']['Colombia']['2018']

49648685.0

Operations by index

In [24]:
df_countries.sum(level='year')

<ipython-input-24-4de3ecf1f1c1>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df_countries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [25]:
df_countries.groupby(level='year').sum()

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

### Unstacking

In [26]:
df_sample.head()

                        pop
Country  year
Colombia 2015  47,520,667.0
         2016  48,171,392.0
         2017  48,901,066.0
         2018  49,648,685.0
Japan    2015 127,141,000.0

u can set an index like a column

In [27]:
df_sample.unstack('year')

                   pop
year              2015          2016          2017          2018
Country
Colombia  47,520,667.0  48,171,392.0  48,901,066.0  49,648,685.0
Japan    127,141,000.0 126,994,511.0 126,785,797.0 126,529,100.0

In [28]:
df_sample.unstack('Country')

                 pop
Country     Colombia         Japan
year
2015    47,520,667.0 127,141,000.0
2016    48,171,392.0 126,994,511.0
2017    48,901,066.0 126,785,797.0
2018    49,648,685.0 126,529,100.0